<script lang="ts" setup>
import type { Event } from '~/models/event'

const props = defineProps<{
  event: Event
}>()

const { event } = toRefs(props)
</script>

<template>
  <v-card
    class="max-w-500px w-full mb-4"
    :to="`/events/${event?.ref?.id}`"
  >
    <v-img
      v-if="event?.imageUrl"
      :lazy-src="event.imageUrl"
      :src="event.imageUrl"
      :aspect-ratio="16 / 9"
      cover
    />
    <v-card-title>
      {{ event.title }}
    </v-card-title>
    <v-card-subtitle>
      <v-avatar size="small">
        <!-- @vue-expect-error todo -->
        <v-img
          :lazy-src="event?.author?.photoUrl"
          :src="event?.author?.photoUrl"
          alt="Author photo"
        />
      </v-avatar>
      <span class="pl-2">
        {{ event?.author?.name }} - {{ event?.pubDate?.toDate().toLocaleDateString() }}

      </span>
    </v-card-subtitle>
    <v-card-text>
      {{
        event.description.length > 100
          ? `${event.description.substring(0, 100)}...`
          : event.description
      }}
    </v-card-text>
  </v-card>
</template>
