<script setup lang="ts">
import type { Event } from '~/models/event'

const props = defineProps<{
  event: Event
}>()

const emit = defineEmits<{
  (e: 'onClose'): void
  (e: 'onDelete', event: Event): void
}>()

const { event } = toRefs(props)

const { dialog, onOpenDialog, onCloseDialog } = useDialog()

function deleteEvent() {
  if (event.value?.ref)
    emit('onDelete', event.value)

  onCloseDialog()
}
</script>

<template>
  <v-btn
    color="error"
    :text="$t('delete')"
    @click="onOpenDialog"
  />

  <v-dialog
    v-model="dialog"
    max-width="400"
  >
    <v-card>
      <v-card-title>
        {{ $t('removeEvent.title') }}
      </v-card-title>
      <v-card-text>
        {{ $t('removeEvent.text') }}
      </v-card-text>
      <v-card-actions>
        <v-btn
          :text="$t('cancel')"
          @click="onCloseDialog"
        />
        <v-btn
          color="error"
          :text="$t('accept')"
          @click="deleteEvent"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
