<script setup lang="ts">
import { GeoPoint, Timestamp } from 'firebase/firestore'
import { useDisplay } from 'vuetify'
import 'leaflet/dist/leaflet.css'
import L from 'leaflet'
import markerIcon2x from 'leaflet/dist/images/marker-icon-2x.png'
import markerIcon from 'leaflet/dist/images/marker-icon.png'
import markerShadow from 'leaflet/dist/images/marker-shadow.png'
import { LMap, LMarker, LPopup, LTileLayer } from '@vue-leaflet/vue-leaflet'
import { storeToRefs } from 'pinia'
import type { Place } from '~/models/place'
import { type Event, toMapEvent } from '~/models/event'
import { useForm } from '~/composables/useForm'

const props = defineProps<{
  isShow: boolean
  event: Event | null
}>()

const emit = defineEmits<{
  (e: 'onClose'): void
  (e: 'onSubmit', data: { event: Event, image: any }): void
  (e: 'onDelete', event: Event): void
}>()

const map: Ref<any> = ref(null)

function mapInitialized() {
  // Access the Leaflet map instance
  map.value.leafletObject.invalidateSize()
}
// @ts-expect-error todo
delete L.Icon.Default.prototype._getIconUrl
L.Icon.Default.mergeOptions({
  iconUrl: markerIcon,
  iconRetinaUrl: markerIcon2x,
  shadowUrl: markerShadow,
})

const { isShow, event } = toRefs(props)

const { mobile } = useDisplay()
const rules = {
  title: [(v: string) => !!v || 'Tytuł jest wymagany'],
  date: [(v: string) => (v !== '' && v != null) || 'Data jest wymagana'],
  dateTill: [
    (v: string, startDate: Timestamp | Date) => {
      if (!v)
        return 'Data zakończenia jest wymagana'

      const start = startDate instanceof Timestamp ? startDate.toDate() : new Date(startDate)
      const end = new Date(v)
      return end > start || 'Data zakończenia nie może być wcześniejsza od daty rozpoczęcia'
    },
  ],
  text: [(v: string) => !!v || 'Treść jest wymagana'],
}

const { form, isValid } = useForm()
const isFormValid = ref(false)

const authStore = useAuthStore()
const { userAuth } = storeToRefs(authStore)

const oneDayEvent = ref<boolean>(true)
const eventTitle = ref('')
const duration = ref<Timestamp[]>([])
const city = ref('')
const description = ref('')
const text = ref('')
const isPublic = ref<boolean>(false)
const image: Ref<any> = ref(null)
const places = ref<Place[]>([])

const selectedItem: Ref<number | null> = ref(null)

function setImage(file: Blob) {
  image.value = file
}

watch(event, (eventNew) => {
  if (eventNew) {
    eventTitle.value = eventNew.title
    duration.value = eventNew.duration
    city.value = eventNew.city
    description.value = eventNew.description
    text.value = eventNew.text
    isPublic.value = eventNew.isPublic
    oneDayEvent.value = eventNew.duration.length === 1
    image.value = eventNew.imageUrl
    places.value = eventNew.places
  }
  else {
    // resetForm()
  }
}, { immediate: true })

function resetForm() {
  eventTitle.value = ''
  duration.value = []
  city.value = ''
  description.value = ''
  text.value = ''
  isPublic.value = false
  oneDayEvent.value = true
  image.value = null
  places.value = []
  form.value?.reset()
  form.value?.resetValidation()
  selectedItem.value = null
}

function close() {
  resetForm()
  emit('onClose')
}

watch(oneDayEvent, (oneDayEventNew) => {
  if (oneDayEventNew) {
    if (duration.value.length > 1)
      duration.value.pop()
  }
})

async function addEvent() {
  if (await isValid()) {
    if (event.value?.ref) {
      event.value.title = eventTitle.value
      event.value.duration = duration.value
      event.value.city = city.value
      event.value.description = description.value
      event.value.text = text.value
      event.value.isPublic = isPublic.value
      event.value.edit = true
      event.value.lastUpdateByUser = userAuth.value.uid
      event.value.lastUpdateTime = Timestamp.now()
      event.value.places = places.value

      emit('onSubmit', { event: event.value, image: image.value })
      resetForm()
    }
    else {
      const newEvent: Event = toMapEvent({
        title: eventTitle.value,
        duration: duration.value,
        author: {
          ref: userAuth.value.uid,
          name: userAuth.value.displayName,
          photoUrl: userAuth.value.photoURL,
        },
        city: city.value,
        description: description.value,
        text: text.value,
        isPublic: isPublic.value,
        places: places.value,
        edit: true,
        ref: null,
        createdByUser: userAuth.value.uid,
        lastUpdateByUser: userAuth.value.uid,
        lastUpdateTime: Timestamp.now(),
        pubDate: Timestamp.now(),
      })
      emit('onSubmit', { event: newEvent, image: image.value })
      resetForm()
    }
  }
}

const deleteFlag = ref<boolean>(false)
function changeDeleteFlag() {
  deleteFlag.value = !deleteFlag.value
}

function onDeleteEvent() {
  if (event.value)
    emit('onDelete', event.value)
  // deleteFlag.value = false
}
const drawer = ref(true)

function addPlace() {
  places.value.push({
    name: 'Nowe miejsce',
    description: '',
    address: '',
    photoUrl: '',
    photoRef: null,
    location: new GeoPoint(0, 0),
    time: [],
  })
}

function deletePlace(index: number) {
  places.value.splice(index, 1)
}

const selectedLocation = ref<GeoPoint | null>(null)

function onMapClick(_event: any) {
  const { lat, lng } = _event.latlng
  // console.log(`${lat} ${lng}`)
  selectedLocation.value = new GeoPoint(lat, lng)
  // console.log('Selected Location:', selectedLocation.value)
  if (event.value?.ref && selectedItem.value != null) {
    // event.value.places[index].location.latitude = lat
    event.value.places[selectedItem.value].location = selectedLocation.value
    // console.log(event.value.places[selectedItem.value].location)
  }
}
</script>

<template>
  <v-dialog
    fullscreen
    :model-value="isShow"
    scrollable
    @update:model-value="close"
  >
    <v-card>
      <v-card-title>
        <span>
          <v-btn
            icon="mdi-menu"
            @click="drawer = !drawer"
          />
          {{ event ? 'Edytuj wydarzenie' : 'Dodaj wydarzenie' }}
        </span>
      </v-card-title>

      <v-card-text>
        <v-navigation-drawer
          v-model="drawer"
          right
          width="300"
          :temporary="mobile"
          :persistent="!mobile"
          app
          nav
        >
          <v-list-item @click="selectedItem = null">
            Informacje
          </v-list-item>
          <v-list>
            <v-list-subheader>Miejsca</v-list-subheader>

            <v-list-item
              v-for="(place, index) in places"
              :key="index"
              @click="selectedItem = index"
            >
              <div class="justify-space-between flex align-center">
                {{ place.name }}
                <v-btn
                  variant="text"
                  color="error"
                  icon="mdi-delete"
                  @click="deletePlace(index)"
                />
              </div>
            </v-list-item>
          </v-list>
          <v-btn
            variant="text"
            color="primary"
            block
            @click="addPlace"
          >
            Dodaj miejsce
          </v-btn>
        </v-navigation-drawer>

        <v-main>
          <div v-if="selectedItem === null">
            <div class="flex justify-center pb-4">
              <UploadImage
                :src="image"
                @set-image="setImage"
                @delete-image="image = null"
              />
            </div>
            <v-form
              ref="form"
              v-model="isFormValid"
              class="w-100"
            >
              <v-text-field
                v-model="eventTitle"
                class="pb-2"
                label="Tytuł"
                type="text"
                :rules="rules.title"
              />
              <v-checkbox
                v-model="oneDayEvent"
                hide-details
                label="Jednodniowy"
              />
              <v-text-field
                v-model="duration[0]"
                class="pb-2"
                :label="oneDayEvent ? 'Data' : 'Od'"
                type="date"
                :rules="rules.date"
              />
              <v-text-field
                v-if="!oneDayEvent"
                v-model="duration[1]"
                class="pb-2"
                label="Do"
                type="date"
                :rules="[(v: any) => rules.dateTill[0](v, duration[0])]"
              />
              <v-text-field
                v-model="city"
                class="pb-2"
                label="Miasto"
                type="text"
                :rules="rules.text"
              />
              <v-text-field
                v-model="description"
                class="pb-2"
                label="Opis"
                type="text"
                :rules="rules.text"
              />
              <v-text-field
                v-model="text"
                class="pb-2"
                label="Treść"
                type="text"
                :rules="rules.text"
              />
              <v-checkbox
                v-model="isPublic"
                hide-details
                label="Publiczny"
              />
            </v-form>
          </div>
          <div v-else>
            <v-form
              ref="form"
              v-model="isFormValid"
              class="w-100"
            >
              <!-- <UploadImage
                :src="places[selectedItem].photoUrl"
                @set-image="() => {}"
                @delete-image="() => {}"
              /> -->

              <v-text-field
                v-model="places[selectedItem].name"
                class="pb-2"
                label="Nazwa"
                type="text"
                :rules="rules.title"
              />
              <v-text-field
                v-model="places[selectedItem].description"
                class="pb-2"
                label="Opis"
                type="text"
                :rules="rules.text"
              />
              <v-text-field
                v-model="places[selectedItem].address"
                class="pb-2"
                label="Adres"
                type="text"
                :rules="rules.text"
              />
              <v-text-field
                v-model="places[selectedItem].time[0]"
                class="pb-2"
                clearable
                label="Godzina od"
                type="time"
              />
              <v-text-field
                v-model="places[selectedItem].time[1]"
                class="pb-2"
                label="Godzina do"
                clearable
                type="time"
              />
              <div class="w-100% h-400px">
                <LMap
                  ref="map"
                  :zoom="6"
                  :max-zoom="18"
                  :center="[51, 20]"
                  :options="{
                    zoomControl: false,
                  }"
                  @ready="mapInitialized"
                  @click="onMapClick"
                >
                  <LTileLayer
                    url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                    attribution="&amp;copy; <a href=&quot;https://www.openstreetmap.org/&quot;>OpenStreetMap</a> contributors"
                    layer-type="base"
                    name="OpenStreetMap"
                  />
                  <LMarker
                    v-if="places[selectedItem].location"
                    :lat-lng="[places[selectedItem].location.latitude, places[selectedItem].location.longitude]"
                  >
                    <LPopup>You selected this location</LPopup>
                  </LMarker>
                </LMap>
              </div>
            </v-form>
          </div>
        </v-main>
      </v-card-text>

      <v-card-actions>
        <EventsEventDelete
          v-if="event && deleteFlag"
          :event="event"
          @on-close="close"
          @on-delete="onDeleteEvent"
        />

        <v-spacer />

        <v-btn
          class="mx-2"
          color="error"
          @click="changeDeleteFlag"
        >
          Usuń wydarzenie
        </v-btn>
        <v-btn
          class="mx-2"
          @click="close"
        >
          Anuluj
        </v-btn>

        <v-btn
          color="primary"
          @click="addEvent"
        >
          Zapisz
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
}
</style>
