<script setup lang="ts">
import { icon } from 'leaflet'
import { useDisplay } from 'vuetify'

const { t, locale } = useI18n()

const languages = [
  { title: t('lang.pl'), value: 'pl' },
  { title: t('lang.en'), value: 'en' },
]

const route = useRoute()
const activePath = computed(() => route.fullPath)

const authStore = useAuthStore()
const { userAuth } = storeToRefs(authStore)

const userStore = useUserStore()
const { userData } = storeToRefs(userStore)

watch(locale, (newLocale, oldLocal) => {
  if (newLocale !== oldLocal && userData.value)
    userStore.updateLang(newLocale as 'en' | 'pl')
})

function navItemsGuest() {
  return [
    { title: t('navigation.events'), icon: 'mdi-home', to: '/' },
    { title: t('navigation.about'), icon: 'mdi-help-box', to: '/about' },
  ]
}

function navItemsOwner() {
  return [
    { title: t('navigation.events'), icon: 'mdi-home', to: '/' },
    { title: t('navigation.manageEvents'), icon: 'mdi-book-account', to: '/events/manage' },
    { title: t('navigation.about'), icon: 'mdi-help-box', to: '/about' },
  ]
}

const navItems = computed(() => userData.value?.role === `owner` ? navItemsOwner() : navItemsGuest())

const { mobile } = useDisplay()
const drawer = ref(false)
const themeItems = [
  { title: t('theme.system'), value: 'system' },
  { title: t('theme.light'), value: 'light' },
  { title: t('theme.dark'), value: 'dark' },
]

function onClickDrawerItem() {
  if (mobile.value)
    drawer.value = false
}
</script>

<template>
  <v-app-bar>
    <template #prepend>
      <v-app-bar-nav-icon
        v-if="mobile"
        @click.stop="drawer = !drawer"
      />
    </template>

    <v-btn
      :class="mobile ? '' : 'ml-2'"
      variant="text"
      color="primary"
      :active="false"
      to="/"
      prepend-icon="mdi-home"
      :text="$t('app.name')"
    />

    <v-spacer />

    <div
      v-if="!mobile"
      class="flex align-center"
    >
      <v-btn
        v-for="item in navItems"
        :key="item.title"
        class="mx-2"
        :active="activePath === item.to"
        :to="item.to"
        :text="item.title"
        :prepend-icon="item.icon"
      />

      <v-select
        v-model="$colorMode.preference"
        class="mx-2"
        variant="plain"
        hide-details
        :items="themeItems"
        :label="$t('navigation.theme')"
      />

      <v-select
        v-model="locale"
        class="mx-2"
        variant="plain"
        hide-details
        :items="languages"
        :label="$t('navigation.language')"
      />
    </div>

    <v-menu v-if="userAuth">
      <template #activator="{ props }">
        <v-btn
          color="primary"
          variant="elevated"
          v-bind="props"
          icon
        >
          <v-avatar
            v-if="userAuth"
            size="40"
            :image="userAuth.photoURL ? userAuth.photoURL : null"
            :text="!userAuth.photoURL ? userAuth.displayName[0] : $t('navigation.displayNamePlaceholder')"
          />
        </v-btn>
      </template>
      <v-list>
        <v-list-subheader>
          {{ userAuth?.displayName }}
        </v-list-subheader>

        <v-list-item
          append-icon="mdi-logout"
          :title="$t('navigation.logout')"
          @click="authStore.logoutUser"
        />
      </v-list>
    </v-menu>

    <v-btn
      v-else
      icon="mdi-google"
      @click="authStore.loginUserGoogle"
    />
  </v-app-bar>

  <v-navigation-drawer
    v-if="mobile"
    v-model="drawer"
    temporary
  >
    <v-list
      nav
      color="primary"
    >
      <v-list-item
        v-for="item in navItems"
        :key="item.title"
        :title="item.title"
        :prepend-icon="item.icon"
        :to="item.to"
        @click="onClickDrawerItem"
      />

      <v-select
        v-model="$colorMode.preference"
        class="pa-2"
        variant="plain"
        :items="themeItems"
        hide-details
        :label="$t('navigation.theme')"
      />

      <v-select
        v-model="locale"
        class="pa-2"
        hide-details
        variant="plain"
        :items="languages"
        :label="$t('navigation.language')"
      />
    </v-list>
  </v-navigation-drawer>
</template>
