<script setup lang="ts">
import type { Ref } from 'vue'
import { ref } from 'vue'
import { useUploadImage } from '../composables/useUploadImage'

defineProps<{
  src: Blob | string | null
}>()

const emit = defineEmits<{
  setImage: [value: Blob]
  deleteImage: []
}>()

const inputFile: Ref<null | { click: () => void }> = ref(null)
const localImage = ref<string | ArrayBuffer | null>(null)
const { onFileChanged, toBase64 } = useUploadImage()

async function onFileChanged2(e: Event) {
  localImage.value = await toBase64((e.target as any)?.files[0])
  const result = await onFileChanged(e)
  if (result)
    emit('setImage', result)
}

function clickInput() {
  inputFile.value?.click()
}

function deleteImage() {
  localImage.value = null
  emit('deleteImage')
}
</script>

<template>
  <v-btn
    class="ma-2 rounded-lg"
    icon
    size="214px"
    @click.stop="clickInput"
  >
    <!-- @vue-expect-error todo -->
    <v-img
      v-if="src"
      class="h-210px w-210px rounded=lg"
      cover
      :src="typeof src === 'string' ? src : localImage"
    >
      <div class="edit">
        <v-btn
          class="rounded-lg"
          color="primary"
          icon="mdi-pencil"
          @click.stop="clickInput"
        />
        <v-btn
          class="rounded-lg"
          color="warning"
          icon="mdi-trash-can"
          @click.stop="deleteImage"
        />
      </div>
    </v-img>
    <v-btn
      v-else
      class="h-210px w-210px rounded-lg"
      icon="mdi-plus"
      size="214px"
    />
    <input
      ref="inputFile"
      accept="image/*"
      class="d-none"
      type="file"
      @change="onFileChanged2"
    >
  </v-btn>
</template>

<style scoped>
.edit{
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
}
</style>
