<script setup lang="ts">
import type { Event } from '~/models/event'
import { isOwner } from '~/composables/isOwner'

isOwner()

const { t } = useI18n()

function tableHeaders() {
  return [
    { title: t('title'), value: 'title' },
    { title: t('publicationDate'), value: 'pubDate' },
    { title: t('author'), value: 'author.name' },
    { title: t('public'), value: 'isPublic' },
  ]
}

const eventsStore = useEventStore()
const { events } = storeToRefs(eventsStore)

const { dialog, itemToEdit, onCreate, onEdit, onCloseDialog } = useCreateEditDialog<Event>()

const search = ref< string >()
const showOnlyPublic = ref< boolean >(false)

const filteredEvents = computed(() => showOnlyPublic.value ? events.value.filter(event => event.isPublic) : events.value)

watch(events, (eventsNew) => {
  if (!eventsNew.length)
    eventsStore.getEvents()
}, { immediate: true })

function onSubmit({ event, image }: { event: Event, image: any }) {
  if (event?.ref)
    eventsStore.updateEvent(event, image)
  else
    eventsStore.addEvent(event, image)

  onCloseDialog()
}

function onDelete(event: Event) {
  if (event?.ref)
    eventsStore.deleteEvent(event.ref)

  onCloseDialog()
}
</script>

<template>
  <v-container>
    <v-row
      dense
      no-gutters
    >
      <v-text-field
        v-model="search"
        color="primary"
        :label="$t('search')"
        prepend-inner-icon="mdi-magnify"
        variant="solo"
        hide-details
        single-line
      />

      <v-checkbox
        v-model="showOnlyPublic"
        class="px-4"
        color="primary"
        :label="$t('onlyPublicEvents')"
        hide-details
      />

      <v-btn
        color="primary"
        icon="mdi-plus"
        @click="onCreate"
      />
    </v-row>
    <br>

    <v-card justify="center">
      <v-data-table
        :items="filteredEvents"
        :search="search"
        :headers="tableHeaders()"
        items-per-page="10"
        @click:row="(_$event: any, item: any) => onEdit(item.item)"
      >
        <template #[`item.pubDate`]="{ item }">
          {{ item?.pubDate?.toDate()?.toLocaleDateString() }}
        </template>

        <template #[`item.isPublic`]="{ item }">
          <v-checkbox
            v-model="item.isPublic"
            hide-details
            readonly
          />
        </template>
      </v-data-table>
    </v-card>
  </v-container>

  <EventsEventForm
    :event="itemToEdit"
    :is-show="dialog"
    @on-close="onCloseDialog"
    @on-submit="onSubmit"
    @on-delete="onDelete"
  />
</template>
