<script lang="ts" setup>
import { Timestamp } from 'firebase/firestore'
import { useDisplay, useLayout } from 'vuetify'
import { ref } from 'vue'
import { LMap, LMarker, LPopup, LTileLayer } from '@vue-leaflet/vue-leaflet'

import 'leaflet/dist/leaflet.css'
import L from 'leaflet'
import markerIcon2x from 'leaflet/dist/images/marker-icon-2x.png'
import markerIcon from 'leaflet/dist/images/marker-icon.png'
import markerShadow from 'leaflet/dist/images/marker-shadow.png'
import { type Review, toMapReview } from '~/models/review'
import type { Place } from '~/models/place'

// @ts-expect-error todo
delete L.Icon.Default.prototype._getIconUrl
L.Icon.Default.mergeOptions({
  iconUrl: markerIcon,
  iconRetinaUrl: markerIcon2x,
  shadowUrl: markerShadow,
})

definePageMeta({
  layout: 'preview',
})

const { mobile } = useDisplay()

const route = useRoute()
const paramUid = computed(() => route.params.uid as string)

const authStore = useAuthStore()
const { userAuth } = storeToRefs(authStore)

const userStore = useUserStore()
const { userData } = storeToRefs(userStore)

const eventsStore = useEventStore()
const { eventsPublic, singleEvent } = storeToRefs(eventsStore)

const reviewsStore = useReviewsStore()
const { eventReviews } = storeToRefs(reviewsStore)

const currentEvent = computed(() => {
  return eventsPublic.value.find(event => paramUid.value === event?.ref?.id)
    || singleEvent.value?.ref?.id === paramUid.value
    ? singleEvent.value
    : null
})

const { height } = useDisplay()
const reviewObject = computed(() => eventReviews.value.find(review => paramUid.value === review.ref?.id))

const rating = ref<number>(0)
const yourOpinion = ref<string>('')

onMounted(() => {
  if (!currentEvent.value || currentEvent.value?.ref?.id !== paramUid.value)
    eventsStore.getEventByUid(String(paramUid.value))

  if (!reviewObject.value)
    reviewsStore.getReviews(String(paramUid.value))
})

async function addReview() {
  if (currentEvent?.value?.ref) {
    const newReview: Review = toMapReview({
      date: Timestamp.now(),
      review: yourOpinion.value,
      rating: rating.value,
      author: {
        ref: userAuth?.value.uid,
        name: userAuth?.value.displayName,
        photoUrl: userAuth?.value.photoURL,
      },

      createdByUser: userAuth?.value.uid,
      lastUpdateByUser: userAuth?.value.uid,
      lastUpdateTime: Timestamp.now(),

      ref: null,
    })

    reviewsStore.addReview(currentEvent.value.ref, newReview)

    yourOpinion.value = ''
    rating.value = 0
  }
}

const infoDrawer = ref(true)

const map: Ref<any> = ref(null)

function mapInitialized() {
  // Access the Leaflet map instance
  map?.value?.leafletObject?.invalidateSize()
}

const mapHeight = computed(() => {
  return height.value - 64
})

const harcodedPlaces = [
  {
    name: 'Place 1',
    address: 'Address 1',
  },
  {
    name: 'Place 2',
    address: 'Address 2',
  },
  {
    name: 'Place 3',
    address: 'Address 3',
  },
  {
    name: 'Place 4',
    address: 'Address 4',
  },
  {
    name: 'Place 5',
    address: 'Address 5',
  },
  {
    name: 'Place 6',
    address: 'Address 6',
  },
  {
    name: 'Place 7',
    address: 'Address 7',
  },
  {
    name: 'Place 1',
    address: 'Address 1',
  },
  {
    name: 'Place 2',
    address: 'Address 2',
  },
  {
    name: 'Place 3',
    address: 'Address 3',
  },
  {
    name: 'Place 4',
    address: 'Address 4',
  },
  {
    name: 'Place 5',
    address: 'Address 5',
  },
  {
    name: 'Place 6',
    address: 'Address 6',
  },
  {
    name: 'Place 7',
    address: 'Address 7',
  },
  {
    name: 'Place 1',
    address: 'Address 1',
  },
  {
    name: 'Place 2',
    address: 'Address 2',
  },
  {
    name: 'Place 3',
    address: 'Address 3',
  },
  {
    name: 'Place 4',
    address: 'Address 4',
  },
  {
    name: 'Place 5',
    address: 'Address 5',
  },
  {
    name: 'Place 6',
    address: 'Address 6',
  },
  {
    name: 'Place 7',
    address: 'Address 7',
  },
]

const search = ref('')

const filteredPlaces = computed(() => {
  if (currentEvent?.value?.places) {
    return currentEvent.value.places.filter((place) => {
      return place.name.toLowerCase().includes(search.value.toLowerCase())
    })
  }
  else {
    return harcodedPlaces.filter((place) => {
      return place.name.toLowerCase().includes(search.value.toLowerCase())
    })
  }
})

const embedCode = computed(() => {
  const currentUrl = window.location.href
  const modifiedUrl = currentUrl.replace('/events/', '/events-preview/')
  return `
<iframe src="${modifiedUrl}" 
        width="600" 
        height="400" 
        style="border:none;" 
        title="Nazwa aplikacji">
</iframe>
`.trim()
})
const copyLink = computed(() => {
  const currentUrl = window.location.href
  const modifiedUrl = currentUrl.replace('/events/', '/events-preview/')
  return modifiedUrl
})
function copyToClipboard(text: string) {
  navigator.clipboard.writeText(text)
}
const activeTab = ref('info')
const tabs = [
  {
    title: 'Informacje',
    value: 'info',
  },
  {
    title: 'Lista miejsc',
    value: 'places',
  },
  {
    title: 'Udostępnij',
    value: 'share',
  },
]
const selectedPlace = ref<Place | null>(null)
const showEventOverlay = ref(false)
function openPlaceOverlay(place: Place) {
  selectedPlace.value = place
  showEventOverlay.value = true
}

function closePlaceOverlay() {
  selectedPlace.value = null
  showEventOverlay.value = false
}
function zoomToPlace(place: Place) {
  if (mobile.value)
    infoDrawer.value = false
  if (map.value)
    map?.value?.leafletObject?.setView([place.location.latitude, place.location.longitude], 15)

  // closePlaceOverlay()
}
</script>

<template>
  <div class="flex justify-center pa-0 ma-0">
    <div :style="`height:${mapHeight}px; width:100vw`">
      <v-btn
        color="primary"
        class="absolute top-0 left-0 ma-6 w-200px"
        style="position: absolute; z-index: 1000;"
        href="https://full-stack-8b197.web.app/"
      >
        Atrakcje
      </v-btn>
      <v-btn
        v-if="!infoDrawer"
        color="primary"
        class="absolute top-12 left-0 ma-6 w-200px"
        style="position: absolute; z-index: 1000;"
        @click="() => {
          infoDrawer = true
          setInterval(() => {
            map?.leafletObject?.invalidateSize()
          }, 1000)
        }"
      >
        Pokaż informacje
      </v-btn>

      <LMap
        ref="map"
        :zoom="6"
        :max-zoom="18"
        :center="[52.2297, 21.0122]"
        :options="{
          zoomControl: false,
        }"
        @ready="mapInitialized"
      >
        <LTileLayer
          url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
          attribution="&amp;copy; <a href=&quot;https://www.openstreetmap.org/&quot;>OpenStreetMap</a> contributors"
          layer-type="base"
          name="OpenStreetMap"
        />
        <!-- @click="openPlaceOverlay(place)" -->
        <LMarker
          v-for="(place, index) in currentEvent?.places || []"
          :key="index"
          :lat-lng="[place.location.latitude, place.location.longitude]"
        >
          <LPopup>{{ place.name }}<br>{{ place.address }}<br>{{ place.time[0] }} {{ place.time[1] ? `- ${place.time[1]}` : '' }}</LPopup>
        </LMarker>
      </LMap>
    </div>

    <v-navigation-drawer
      v-model="infoDrawer"
      :temporary="mobile"
      app
      width="600"
    >
      <div class="flex sticky">
        <v-tabs
          v-model="activeTab"
          color="primary"
          grow
        >
          <v-tab
            v-for="(item, index) in tabs"
            :key="index"
            :value="item.value"
          >
            {{ item.title }}
          </v-tab>
        </v-tabs>
        <v-spacer />
        <v-btn
          icon
          class="ml-auto "
          @click="() => {
            infoDrawer = false
            setInterval(() => {
              map?.leafletObject?.invalidateSize()
            }, 1000)
          }"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

      <v-window
        v-if="activeTab === 'info'"
        value="info"
      >
        <v-container :style="`overflow-y:auto; height: ${mapHeight - 56 - (mobile ? 64 : 0)}px;`">
          <v-card
            v-if="currentEvent"
          >
            <v-img
              v-if="currentEvent.imageUrl"
              :src="currentEvent.imageUrl"
              :lazy-src="currentEvent.imageUrl"
              :aspect-ratio="16 / 9"
              cover
            />
            <v-card-title>
              {{ currentEvent.title }}
            </v-card-title>
            <v-card-subtitle>
              <v-avatar
                v-if="currentEvent.author"
                size="32"
                :image="currentEvent.author.photoUrl ? currentEvent.author.photoUrl : undefined"
                :text="currentEvent.author.name || 'A' "
                color="primary"
              />

              <span class="pl-2">
                {{ currentEvent?.author.name }} {{ currentEvent?.pubDate?.toDate().toLocaleDateString() }}
              </span>
            </v-card-subtitle>

            <v-card-text>
              <v-row
                dense
                no-gutters
                align="center"
              >
                <span class="pt-1 pr-2">{{ Math.round(((reviewObject?.rating || 0) / (reviewObject?.totalRating || 1)) * 2) / 2 }}</span>
                <v-rating
                  :model-value="(reviewObject?.rating || 0) / (reviewObject?.totalRating || 1)"
                  color="primary"
                  half-increments
                  density="compact"
                  readonly
                />
              </v-row>

              <div class="pt-2">
                {{ currentEvent.text }}
              </div>

              <div class="text-center" />
            </v-card-text>
          </v-card>

          <br>

          <v-card v-if="userData">
            <v-card-title>
              Dodaj ocenę i komentarz
            </v-card-title>
            <v-card-text>
              <v-form>
                <v-rating
                  v-model="rating"
                  color="primary"
                  item-aria-label="custom icon label text {0} of {1}"
                />

                <v-textarea
                  v-model="yourOpinion"
                  color="primary"
                  label="Komentarz"
                  type="text"
                  variant="outlined"
                />

                <div class="flex justify-end w-full">
                  <v-btn
                    color="success"
                    variant="outlined"
                    @click="addReview()"
                  >
                    Dodaj
                  </v-btn>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
          <v-card
            v-else
            class="d-flex flex-column align-center justify-center text-center"
          >
            <v-card-subtitle>
              Przeglądasz wydarzenie jako gość.
            </v-card-subtitle>
            <v-card-text>
              Zaloguj się, by dodawać komentarze.
            </v-card-text>
            <v-card-actions>
              <v-btn
                icon="mdi-google"
                @click="authStore.loginUserGoogle"
              />
            </v-card-actions>
          </v-card>
          <br>

          <v-card>
            <v-card-title>
              Ostatnie komentarze
            </v-card-title>

            <div
              v-for="(review, index) in (reviewObject?.reviews || [])"
              :key="index"
            >
              <v-card-item>
                <v-card variant="tonal">
                  <v-card-text>
                    <v-row
                      dense
                      no-gutters
                      align="center"
                      justify="start"
                      class="pa-2"
                    >
                      <v-avatar
                        v-if="review.author"
                        size="32"
                        :image="review.author.photoUrl ? review.author.photoUrl : undefined"
                        :text="review.author.name || 'A' "
                        color="primary"
                      />

                      <h3 class="pl-2">
                        {{ review.author.name }}
                      </h3>

                      <v-spacer />

                      <span>
                        {{ review.date.toDate().toLocaleDateString() }}
                      </span>
                    </v-row>

                    <v-row
                      dense
                      no-gutters
                      align="center"
                      class="pa-2"
                    >
                      <span class="pt-1 pr-2">
                        {{ Math.round(review.rating * 2) / 2 }}
                      </span>

                      <v-rating
                        :model-value="review.rating"
                        color="primary"
                        size="sm"
                        readonly
                        half-increments
                      />
                    </v-row>

                    <span class="pa-2">
                      {{ review.review }}
                    </span>
                  </v-card-text>
                </v-card>
              </v-card-item>
            </div>
          </v-card>
        </v-container>
      </v-window>

      <v-window
        v-if="activeTab === 'places'"
        value="places"
      >
        <v-container>
          <div class="sticky top-0">
            <v-text-field
              v-model="search"
              label="Szukaj"
              outlined
              dense
              clearable
              hide-details
            />
          </div>
          <div :style="`overflow-y:auto; height: ${mapHeight - 56 - 64 - 16 - (mobile ? 64 : 0)}px;`">
            <v-expansion-panels>
              <v-expansion-panel
                v-for="(place, index) in filteredPlaces"
                :key="index"
              >
                <template #title>
                  <div class="font-bold flex justify-between w-100%">
                    <span>
                      {{ place.name }}
                    </span>
                    <span>
                      {{ place.time[0] }}
                      {{ place.time[1] ? `- ${place.time[1]}` : '' }}
                    </span>
                  </div>
                </template>
                <template #text>
                  <p>
                    {{ place.address }}
                  </p>
                  <p>
                    {{ place.description }}
                  </p>
                  <div>
                    <v-btn
                      color="primary"
                      variant="tonal"
                      @click="() => {
                        // openPlaceOverlay(place)
                        zoomToPlace(place)
                      }"
                    >
                      Wyświetl na mapie
                    </v-btn>
                  </div>
                </template>
              </v-expansion-panel>
            </v-expansion-panels>
            <!-- <v-list>
              <v-list-item
                v-for="(place, index) in filteredPlaces"
                :key="index"
                @click="() => {
                  openPlaceOverlay(place)
                  zoomToPlace(selectedPlace)
                }"
              >
                <v-list-item-title>
                  {{ place.name }}
                </v-list-item-title>
                <v-list-item-subtitle>
                  <div class="w-100% flex justify-space-between">
                    <span>
                      {{ place.address }}
                    </span>
                    <span>

                      {{ place.time[0] }}
                      {{ place.time[1] ? `- ${place.time[1]}` : '' }}
                    </span>
                  </div>
                </v-list-item-subtitle>
              </v-list-item>
            </v-list> -->
          </div>
        </v-container>
      </v-window>
      <v-window
        v-if="activeTab === 'share'"
        value="share"
      >
        <v-container>
          <div class="text-center font-weight-bold mb-2">
            {{ $t('event.shareEmbed') }}
          </div>

          <div class="mb-4">
            <v-textarea
              v-model="embedCode"
              variant="outlined"
              readonly
              rows="8"
            >
              <template
                #append-inner
              >
                <v-btn
                  class="fill-height mt-n2 ml-2"
                  prepend-icon="mdi-content-copy"
                  :text="$t('event.share')"
                  @click="() => copyToClipboard(embedCode)"
                />
              </template>
            </v-textarea>
          </div>
          <div class="text-center font-weight-bold mb-2">
            {{ $t('event.shareLink') }}
          </div>
          <div>
            <v-text-field
              v-model="copyLink"
              variant="outlined"
              readonly
            >
              <template #append-inner>
                <v-btn
                  prepend-icon="mdi-content-copy"
                  :text="$t('event.share')"
                  @click="() => copyToClipboard(copyLink)"
                />
              </template>
            </v-text-field>
          </div>
        </v-container>
      </v-window>
      <div
        style="position: absolute; right: 0px; left: 0px; bottom: 0px; z-index: 1000;"
        class="flex justify-center w-full "
      >
        <v-btn
          v-if="mobile"
          color="primary"
          class="ma-6 w-200px"
          size="large"
          @click="() => {
            infoDrawer = false
            setInterval(() => {
              map?.leafletObject?.invalidateSize()
            }, 1000)
          }"
        >
          Pokaż mapę
        </v-btn>
      </div>
    </v-navigation-drawer>
    <v-bottom-sheet
      v-model="showEventOverlay"
      inset
      :close-on-content-click="false"
      :close-on-back="false"
      opacity="0.4"
      location="top"
    >
      <v-card
        class="w-100%"
      >
        <v-img
          v-if="selectedPlace?.photoUrl"
          :src="selectedPlace?.photoUrl"
          :lazy-src="selectedPlace?.photoUrl"
          :aspect-ratio="16 / 9"
          cover
        />
        <v-card-title>{{ selectedPlace?.name }}</v-card-title>
        <v-card-subtitle>{{ selectedPlace?.address }}</v-card-subtitle>
        <v-card-text>
          <div class="font-weight-bold">
            Opis:
          </div> {{ selectedPlace?.description }}
        </v-card-text>
        <v-card-actions>
          <div class="mx-auto">
            <v-btn
              color="primary"
              @click="zoomToPlace(selectedPlace)"
            >
              Wyświetl na mapie
            </v-btn>

            <v-btn
              @click="closePlaceOverlay"
            >
              Zamknij
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>
