<script setup lang="ts">
const { colorModeRef } = useColor()

useAuthStore().currentUser()
</script>

<template>
  <v-app :theme="colorModeRef">
    <v-main>
      <LazyNavigation />

      <NuxtPage />
    </v-main>
  </v-app>
</template>
