<template>
  <v-container>
    <!-- 404 page -->
    <v-row justify="center">
      <v-col
        cols="12"
        md="6"
        lg="4"
      >
        <v-card class="text-center">
          <v-card-title>
            404
          </v-card-title>
          <v-card-subtitle>
            {{ $t('404.title') }}
          </v-card-subtitle>
          <v-card-text>
            {{ $t('404.text') }}
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
