<script lang="ts" setup>
import { computed, ref, watch } from 'vue'
import { storeToRefs } from 'pinia'

const eventStore = useEventStore()
const { eventsPublic } = storeToRefs(eventStore)
const filterText = ref('')
const filterDate = ref<string | null>(null)
const filterCity = ref('')

function formatDate(date: Date) {
  const year = date.getFullYear()
  const month = String(date.getMonth() + 1).padStart(2, '0')
  const day = String(date.getDate()).padStart(2, '0')
  return `${year}-${month}-${day}`
}

const filteredEvents = computed(() => {
  return eventsPublic.value.filter((event) => {
    const matchesText = !filterText.value || event?.title?.toLowerCase().includes(filterText.value.toLowerCase())
    const matchesDate = !filterDate.value || (event.pubDate && formatDate(event.pubDate.toDate()) === filterDate.value)
    const matchesCity = !filterCity.value || (event.city && event.city.toLowerCase() === filterCity.value.toLowerCase())
    return matchesText && matchesDate && matchesCity
  })
})

const uniqueCities = computed(() => {
  const cities = eventsPublic.value.map(event => event.city)
  return [...new Set(cities)]
})

watch(eventsPublic, (eventsPublicNew) => {
  if (!eventsPublicNew.length)
    eventStore.getEventsPublic()
}, { immediate: true })
</script>

<template>
  <v-container>
    <div class="flex justify-center flex-col md:flex-row">
      <v-text-field
        v-model="filterText"
        class="px-2 max-w-500px"
        :label="$t('search')"
      />
      <v-select
        v-model="filterCity"
        class="px-2 max-w-500px"
        :items="uniqueCities"
        :label="$t('filter-by-city')"
        clearable
      />
      <v-text-field
        v-model="filterDate"
        class="px-2 max-w-500px"
        :label="$t('date')"
        clearable
        type="date"
      />
    </div>

    <div
      v-if="filteredEvents.length"
      class="flex flex-wrap gap-4 justify-center"
    >
      <EventsEventCard
        v-for="event in filteredEvents"
        :key="event?.ref?.id"
        :event="event"
      />
    </div>
    <div v-else>
      <v-alert
        variant="tonal"
        color="info"
        icon="mdi-information"
      >
        {{ $t('no-events') }}
      </v-alert>
    </div>
  </v-container>
</template>
